server/analysis/*
server/deps/*
server/docs/html
server/objs/*
server/program_Debug
server/program_Release
.git
server/tests/bin/*
server/tests/deps/*
server/tests/objs/*
server/tests/gcov/*
external/*
client/three.min.js
