.git
external/*

client/three.min.js

server/analysis/*
server/deps/*
server/docs/html
server/objs/*
server/program_Debug
server/program_Release
server/tests/bin/*
server/tests/deps/*
server/tests/objs/*
server/tests/gcov/*

tools/analysis/*
tools/deps/*
tools/docs/html
tools/objs/*
tools/program_Debug
tools/program_Release
tools/tests/bin/*
tools/tests/deps/*
tools/tests/objs/*
tools/tests/gcov/*
